.transcation label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transcation {
  background: #1d1d1d;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.transcation input {
  background: #262626;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.transcation select {
  background: #262626;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.buttonBuy {
  border-radius: 7px;
  padding: 10px;
  border: 1px solid;

  /* opacity: 0.8; */
  /* mix-blend-mode: screen; */
  filter: blur(0.349999904632568px);
}

.buttonBuy p {
  background: linear-gradient(90deg, #aae6e7 0%, #95e362 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: screen;
  font-weight: 600;
  
  /* filter: blur(5.199999809265137px); */
}
